Nota Media por curso

In [6]:
import pandas as pd
print(pd.__version__)
import matplotlib.pyplot as plt

2.2.3

In [4]:
df = pd.read_csv("dados_alunos.csv" , sep = ",")

In [5]:
df

        nome  idade genero        curso  semestre  nota_final  faltas
0   Fernanda     22      F   Engenharia         7        8.85      21
1    Eduardo     28      M          ADS         1        6.49       9
2       Igor     24      M  Arquitetura         3        5.85       8
3       Igor     29      F  Arquitetura        10        5.65       7
4      Bruno     28      M  Arquitetura         7        8.64       5
..       ...    ...    ...          ...       ...         ...     ...
95    Helena     26      M          ADS         2        6.65      21
96    Carlos     20      F   Engenharia         8        9.33      24
97     Diana     27      M      Direito         1        9.31      17
98      Igor     27      F     Medicina         9        8.88      17
99    Carlos     22      F     Medicina         8        9.75      21

[100 rows x 7 columns]

In [8]:

media_por_curso = df.groupby('curso')['nota_final'].mean()
print(media_por_curso)

curso
ADS            7.312308
Arquitetura    7.309500
Direito        7.869375
Engenharia     7.722727
Medicina       7.660000
Name: nota_final, dtype: float64

In [ ]:

quantidade_por_curso_genero = df.groupby(['curso', 'genero'])['nome'].count().unstack(fill_value=0)

print(quantidade_por_curso_genero)

genero        F   M
curso
ADS          17   9
Arquitetura  12   8
Direito      11   5
Engenharia   11  11
Medicina     13   3

In [10]:
df = pd.read_csv('dados_alunos.csv')

# Calcular a média do semestre por curso
media_semestre_por_curso = df.groupby('curso')['semestre'].mean().round(2)

print(media_semestre_por_curso)

curso
ADS            5.88
Arquitetura    5.90
Direito        5.38
Engenharia     5.86
Medicina       6.38
Name: semestre, dtype: float64

In [ ]:
# Calcular a média de idade por semestre
media_idade_por_semestre = df.groupby('semestre')['idade'].mean().reset_index()
media_idade_por_semestre.columns = ['Semestre', 'Média de Idade']

# Exibir o resultados
print(media_idade_por_semestre)

   Semestre  Média de Idade
0         1       27.700000
1         2       26.666667
2         3       26.333333
3         4       25.125000
4         5       31.833333
5         6       26.777778
6         7       24.833333
7         8       24.923077
8         9       23.727273
9        10       26.384615