# Analise Exploratoria

üì¶ Importando as bibliotecas

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Estilo de Gr√°fico
sns.set(style="whitegrid")

# Importando o CSV
df = pd.read_csv('dataset_vendas.csv')

üîç Vis√£o geral do dataset

In [ ]:
df.shape

(1000, 1)

In [12]:
df.columns

Index(['ID_Pedido;Data_Compra;Cliente_ID;Valor_Total;Categoria_Produto;Quantidade'], dtype='object')

In [13]:
df.dtypes

ID_Pedido;Data_Compra;Cliente_ID;Valor_Total;Categoria_Produto;Quantidade    object
dtype: object

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   ID_Pedido;Data_Compra;Cliente_ID;Valor_Total;Categoria_Produto;Quantidade  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [15]:
df.head()

  ID_Pedido;Data_Compra;Cliente_ID;Valor_Total;Categoria_Produto;Quantidade
0                 1001;2024-01-01;551;607.5;Roupas;1
1                1002;2024-01-02;592;758.17;Beleza;2
2                1003;2024-01-05;514;460.08;Roupas;6
3            1004;2024-01-04;571;171.2;Eletr√¥nicos;5
4                1005;2024-01-05;560;319.59;Beleza;7

üßº Verifica√ß√£o e tratamento de dados faltantes

In [17]:
df.isnull().sum() # Verificando valores nulos.

ID_Pedido;Data_Compra;Cliente_ID;Valor_Total;Categoria_Produto;Quantidade    0
dtype: int64

In [ ]:
df.dropna(inplace=True) # Removendo linhas com valores nulos.