# Analise Exploratoria

üì¶ Importando as bibliotecas

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Estilo de Gr√°fico
sns.set(style="whitegrid")

# Importando o CSV
df = pd.read_csv('dataset_vendas.csv', sep=';')

üîç Vis√£o geral do dataset

In [15]:
df.shape

(1000, 6)

In [16]:
df.columns

Index(['ID_Pedido', 'Data_Compra', 'Cliente_ID', 'Valor_Total',
       'Categoria_Produto', 'Quantidade'],
      dtype='object')

In [17]:
df.dtypes

ID_Pedido              int64
Data_Compra           object
Cliente_ID             int64
Valor_Total          float64
Categoria_Produto     object
Quantidade             int64
dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_Pedido          1000 non-null   int64
 1   Data_Compra        1000 non-null   object
 2   Cliente_ID         1000 non-null   int64
 3   Valor_Total        1000 non-null   float64
 4   Categoria_Produto  1000 non-null   object
 5   Quantidade         1000 non-null   int64
dtypes: float64(1), int64(3), object(2)
memory usage: 47.0+ KB

In [19]:
df.head()

,ID_Pedido,Data_Compra,Cliente_ID,Valor_Total,Categoria_Produto,Quantidade
0,1001,2024-01-01,551,607.50,Roupas,1
1,1002,2024-01-02,592,758.17,Beleza,2
2,1003,2024-01-05,514,460.08,Roupas,6
3,1004,2024-01-04,571,171.20,Eletr√¥nicos,5
4,1005,2024-01-05,560,319.59,Beleza,7

üßº Verifica√ß√£o e tratamento de dados faltantes

In [20]:
df.isnull().sum() # Verificando valores nulos.

ID_Pedido            0
Data_Compra          0
Cliente_ID           0
Valor_Total          0
Categoria_Produto    0
Quantidade           0
dtype: int64

In [21]:
df.dropna(inplace=True) # Removendo linhas com valores nulos.

üìä Estat√≠sticas descritivas

In [22]:
df.describe(include='all')

,ID_Pedido,Data_Compra,Cliente_ID,Valor_Total,Categoria_Produto,Quantidade
count,1000.000000,1000,1000.000000,1000.000000,1000,1000.000000
unique,NaN,612,NaN,NaN,5,NaN
top,NaN,2024-09-09,NaN,NaN,Esportes,NaN
freq,NaN,6,NaN,NaN,220,NaN
mean,1500.500000,NaN,549.128000,525.307940,NaN,4.945000
std,288.819436,NaN,29.573505,275.969012,NaN,2.614347
min,1001.000000,NaN,500.000000,54.400000,NaN,1.000000
25%,1250.750000,NaN,523.000000,275.285000,NaN,3.000000
50%,1500.500000,NaN,550.000000,534.640000,NaN,5.000000
75%,1750.250000,NaN,574.000000,756.435000,NaN,7.000000
max,2000.000000,NaN,599.000000,999.440000,NaN,9.000000