# Metricas de tendencia Central

- Media

- Mediana

- Moda 

- Variancia

- Devio padrão

In [2]:

# Definir uma tabela

frutas = {
    'frutas':['banana', 'uva','maça','kiwi', 'morango','abacaxi', 'melão','pêra'],
    'lote':[5,3,4,7,7,10,10,10],
    'valor(u)':[50.95, 10.50, 8.00, 9.99, 10.85, 100.50, 8.80, 99.99]
}

print(type(frutas))
display(frutas)

<class 'dict'>

{'frutas': ['banana',
  'uva',
  'maça',
  'kiwi',
  'morango',
  'abacaxi',
  'melão',
  'pêra'],
 'lote': [5, 3, 4, 7, 7, 10, 10, 10],
 'valor(u)': [50.95, 10.5, 8.0, 9.99, 10.85, 100.5, 8.8, 99.99]}

In [3]:
import pandas as pd # Importar o pandas

In [4]:

df = pd.DataFrame(frutas) # Converter a Dataframe

print(type(df))
display(df) # display = Mostrar

<class 'pandas.core.frame.DataFrame'>

    frutas  lote  valor(u)
0   banana     5     50.95
1      uva     3     10.50
2     maça     4      8.00
3     kiwi     7      9.99
4  morango     7     10.85
5  abacaxi    10    100.50
6    melão    10      8.80
7     pêra    10     99.99

In [5]:
colunas = ['frutas','lote'] # lista da coluna

df_sem_valor = df[colunas] # Uma variavel sem valor caso seja necessario usa-lo no futuro, matendo a variavel original intacto

df_sem_valor

    frutas  lote
0   banana     5
1      uva     3
2     maça     4
3     kiwi     7
4  morango     7
5  abacaxi    10
6    melão    10
7     pêra    10

In [6]:
print(type(df['lote']))

<class 'pandas.core.series.Series'>

In [7]:
# Média 

df['lote'].mean() # .mean() = calcular a media

np.float64(7.0)

In [8]:
# Mediana

df['lote'].median() #.median() = calcular a mediana

np.float64(7.0)

In [9]:
# Moda

df['lote'].mode() # .mode() = calcula a Moda

0    10
Name: lote, dtype: int64

In [10]:
# Variancia

df['lote'].var() #.var() = Calcula a Variancia

np.float64(8.0)

In [11]:
# Desvio Padrão / Standard

df['lote'].std(ddof=1) # .std(ddof=0/1) = Calcula o desvio padrao, com o ddof valor 1 calcula do modo populacional( o todo ) enquanto com valor 0 calcula do modo Amostral( uma parte do todo)

np.float64(2.8284271247461903)

In [12]:
# Printar os valores

mean = df['lote'].mean()
median = df['lote'].median()
mode= df['lote'].mode()
var= df['lote'].var()
std = df['lote'].std()

print(f'Media: {mean}')
print(f'Mediana: {median}')
print(f'Moda: {mode}')
print(f'Variancia: {var}')
print(f'Desvio padrão: {std}')

Media: 7.0
Mediana: 7.0
Moda: 0    10
Name: lote, dtype: int64
Variancia: 8.0
Desvio padrão: 2.8284271247461903

In [13]:
# Mostra o valor numerica do DF

df.describe()

            lote    valor(u)
count   8.000000    8.000000
mean    7.000000   37.447500
std     2.828427   41.308669
min     3.000000    8.000000
25%     4.750000    9.692500
50%     7.000000   10.675000
75%    10.000000   63.210000
max    10.000000  100.500000