# Analise

In [199]:
import pandas as pd
import matplotlib as plt
import numpy as np
# CSV Import
candidatos_tec1 = pd.read_csv('candidatos_tecnologia_1.csv')
candidatos_tec2 = pd.read_csv('candidatos_tecnologia_2.csv')
candidatos_tec3 = pd.read_csv('candidatos_tecnologia_3.csv')

In [200]:
candidatos_tec1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_candidato             1000 non-null   int64
 1   data_inscricao           1000 non-null   object
 2   nome                     900 non-null    object
 3   genero                   900 non-null    object
 4   estado                   900 non-null    object
 5   idade                    900 non-null    float64
 6   formacao                 900 non-null    object
 7   area_atuacao             900 non-null    object
 8   experiencia_anos         900 non-null    float64
 9   certificacoes            900 non-null    float64
 10  idiomas                  900 non-null    object
 11  pretensao_salarial       900 non-null    float64
 12  salario_vaga             900 non-null    float64
 13  disponibilidade_viagem   900 non-null    object
 14  disponibilidade_mudanca  900 non-null    object
 15  pcd                      900 non-null    object
 16  contratado               900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [201]:
candidatos_tec2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codigo_candidato    1000 non-null   int64
 1   data_cadastro       1000 non-null   object
 2   nome_completo       900 non-null    object
 3   sexo                900 non-null    object
 4   uf                  900 non-null    object
 5   faixa_etaria        900 non-null    float64
 6   nivel_educacional   900 non-null    object
 7   setor_profissional  900 non-null    object
 8   tempo_experiencia   900 non-null    float64
 9   qtd_certificacoes   900 non-null    float64
 10  idioma_principal    900 non-null    object
 11  salario_esperado    900 non-null    float64
 12  salario_oferecido   900 non-null    float64
 13  aceita_viagem       900 non-null    object
 14  aceita_mudanca      900 non-null    object
 15  deficiencia         900 non-null    object
 16  foi_contratado      900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [202]:
candidatos_tec3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID DO CANDIDATO          1000 non-null   int64
 1   DATA DE INSCRIÇÃO        1000 non-null   object
 2   NOME COMPLETO            900 non-null    object
 3   GÊNERO                   900 non-null    object
 4   ESTADO                   900 non-null    object
 5   IDADE                    900 non-null    float64
 6   FORMAÇÃO ACADÊMICA       900 non-null    object
 7   ÁREA DE ATUAÇÃO          900 non-null    object
 8   ANOS DE EXPERIÊNCIA      900 non-null    float64
 9   CERTIFICAÇÕES            900 non-null    float64
 10  IDIOMA                   900 non-null    object
 11  PRETENSÃO SALARIAL       900 non-null    float64
 12  SALÁRIO DA VAGA          900 non-null    float64
 13  DISPONÍVEL PARA VIAGENS  900 non-null    object
 14  DISPONÍVEL PARA MUDANÇA  900 non-null    object
 15  É PCD                    900 non-null    object
 16  STATUS DE CONTRATAÇÃO    900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [203]:
candidatos_tec1

,id_candidato,data_inscricao,nome,genero,estado,idade,formacao,area_atuacao,experiencia_anos,certificacoes,idiomas,pretensao_salarial,salario_vaga,disponibilidade_viagem,disponibilidade_mudanca,pcd,contratado
0,1,2022-04-13,Candidato_1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não,0.0
1,2,2023-03-12,Candidato_2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não,0.0
2,3,2022-09-28,Candidato_3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não,0.0
3,4,2022-04-17,Candidato_4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não,0.0
4,5,2022-03-13,Candidato_5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2023-10-04,Candidato_996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não,1.0
996,997,2023-08-19,Candidato_997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não,0.0
997,998,2022-11-17,Candidato_998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não,1.0
998,999,2022-11-15,Candidato_999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim,0.0
999,1000,2023-09-05,Candidato_1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não,1.0

# FORMATANDO O NOME DAS SÉRIES DO CSV 1

In [204]:
candidatos_tec1 = candidatos_tec1.rename(columns={'id_candidato' : 'ID DO CANDIDATO', 'data_inscricao':'DATA DA INSCRIÇÃO', 'nome':'NOME', 'genero': 'SEXO', 'estado': 'UF', 'idade': 'IDADE', 'formacao':'FORMAÇÃO', 'area_atuacao': 'ÀREA DE ATUAÇÃO','experiencia_anos':'EXPERIÊNCIA', 'certificacoes':'CERTIFICAÇÕES', 'idiomas':'IDIOMAS','pretensao_salarial':'PRETENÇÃO SALARIAL', 'salario_vaga':'SALÁRIO DA VAGA', 'disponibilidade_viagem':'DISPONIVEL PARA VIAGEM','disponibilidade_mudanca':'DISPONIBILIDADE DE MUDANÇA','pcd':'PCD','contratado':'CONTRATADO'})
candidatos_tec1

,ID DO CANDIDATO,DATA DA INSCRIÇÃO,NOME,SEXO,UF,IDADE,FORMAÇÃO,ÀREA DE ATUAÇÃO,EXPERIÊNCIA,CERTIFICAÇÕES,IDIOMAS,PRETENÇÃO SALARIAL,SALÁRIO DA VAGA,DISPONIVEL PARA VIAGEM,DISPONIBILIDADE DE MUDANÇA,PCD,CONTRATADO
0,1,2022-04-13,Candidato_1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não,0.0
1,2,2023-03-12,Candidato_2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não,0.0
2,3,2022-09-28,Candidato_3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não,0.0
3,4,2022-04-17,Candidato_4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não,0.0
4,5,2022-03-13,Candidato_5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2023-10-04,Candidato_996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não,1.0
996,997,2023-08-19,Candidato_997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não,0.0
997,998,2022-11-17,Candidato_998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não,1.0
998,999,2022-11-15,Candidato_999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim,0.0
999,1000,2023-09-05,Candidato_1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não,1.0

In [205]:
candidatos_tec1

,ID DO CANDIDATO,DATA DA INSCRIÇÃO,NOME,SEXO,UF,IDADE,FORMAÇÃO,ÀREA DE ATUAÇÃO,EXPERIÊNCIA,CERTIFICAÇÕES,IDIOMAS,PRETENÇÃO SALARIAL,SALÁRIO DA VAGA,DISPONIVEL PARA VIAGEM,DISPONIBILIDADE DE MUDANÇA,PCD,CONTRATADO
0,1,2022-04-13,Candidato_1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não,0.0
1,2,2023-03-12,Candidato_2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não,0.0
2,3,2022-09-28,Candidato_3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não,0.0
3,4,2022-04-17,Candidato_4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não,0.0
4,5,2022-03-13,Candidato_5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2023-10-04,Candidato_996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não,1.0
996,997,2023-08-19,Candidato_997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não,0.0
997,998,2022-11-17,Candidato_998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não,1.0
998,999,2022-11-15,Candidato_999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim,0.0
999,1000,2023-09-05,Candidato_1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não,1.0

# FORMATANDO OS NOMES DAS SERIES DO CSV 2

In [206]:
candidatos_tec2

,codigo_candidato,data_cadastro,nome_completo,sexo,uf,faixa_etaria,nivel_educacional,setor_profissional,tempo_experiencia,qtd_certificacoes,idioma_principal,salario_esperado,salario_oferecido,aceita_viagem,aceita_mudanca,deficiencia,foi_contratado
0,1,2022-04-13,Candidato_1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não,0.0
1,2,2023-03-12,Candidato_2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não,0.0
2,3,2022-09-28,Candidato_3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não,0.0
3,4,2022-04-17,Candidato_4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não,0.0
4,5,2022-03-13,Candidato_5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2023-10-04,Candidato_996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não,1.0
996,997,2023-08-19,Candidato_997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não,0.0
997,998,2022-11-17,Candidato_998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não,1.0
998,999,2022-11-15,Candidato_999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim,0.0
999,1000,2023-09-05,Candidato_1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não,1.0

In [207]:
candidatos_tec2 = candidatos_tec2.rename(columns={'codigo_candidato' : 'ID DO CANDIDATO', 'data_cadastro':'DATA DA INSCRIÇÃO', 'nome_completo':'NOME', 'sexo': 'SEXO', 'uf': 'UF', 'faixa_etaria': 'IDADE', 'nivel_educacional':'FORMAÇÃO', 'setor_profissional': 'ÀREA DE ATUAÇÃO','tempo_experiencia':'EXPERIÊNCIA', 'qtd_certificacoes':'CERTIFICAÇÕES', 'idioma_principal':'IDIOMAS','salario_esperado':'PRETENÇÃO SALARIAL', 'salario_oferecido':'SALÁRIO DA VAGA', 'aceita_viagem':'DISPONIVEL PARA VIAGEM','aceita_mudanca':'DISPONIBILIDADE DE MUDANÇA','deficiencia':'PCD','foi_contratado':'CONTRATADO'})
candidatos_tec2

,ID DO CANDIDATO,DATA DA INSCRIÇÃO,NOME,SEXO,UF,IDADE,FORMAÇÃO,ÀREA DE ATUAÇÃO,EXPERIÊNCIA,CERTIFICAÇÕES,IDIOMAS,PRETENÇÃO SALARIAL,SALÁRIO DA VAGA,DISPONIVEL PARA VIAGEM,DISPONIBILIDADE DE MUDANÇA,PCD,CONTRATADO
0,1,2022-04-13,Candidato_1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não,0.0
1,2,2023-03-12,Candidato_2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não,0.0
2,3,2022-09-28,Candidato_3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não,0.0
3,4,2022-04-17,Candidato_4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não,0.0
4,5,2022-03-13,Candidato_5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2023-10-04,Candidato_996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não,1.0
996,997,2023-08-19,Candidato_997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não,0.0
997,998,2022-11-17,Candidato_998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não,1.0
998,999,2022-11-15,Candidato_999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim,0.0
999,1000,2023-09-05,Candidato_1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não,1.0

In [208]:
# Verificando se a planilha 2 está igual a planilha 1, se der True, está igual.
print(candidatos_tec1.columns.equals(candidatos_tec2.columns))

True

# Formatando o CSV 3

In [209]:
candidatos_tec3

,ID DO CANDIDATO,DATA DE INSCRIÇÃO,NOME COMPLETO,GÊNERO,ESTADO,IDADE,FORMAÇÃO ACADÊMICA,ÁREA DE ATUAÇÃO,ANOS DE EXPERIÊNCIA,CERTIFICAÇÕES,IDIOMA,PRETENSÃO SALARIAL,SALÁRIO DA VAGA,DISPONÍVEL PARA VIAGENS,DISPONÍVEL PARA MUDANÇA,É PCD,STATUS DE CONTRATAÇÃO
0,1,2022-04-13,Candidato_1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não,0.0
1,2,2023-03-12,Candidato_2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não,0.0
2,3,2022-09-28,Candidato_3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não,0.0
3,4,2022-04-17,Candidato_4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não,0.0
4,5,2022-03-13,Candidato_5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2023-10-04,Candidato_996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não,1.0
996,997,2023-08-19,Candidato_997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não,0.0
997,998,2022-11-17,Candidato_998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não,1.0
998,999,2022-11-15,Candidato_999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim,0.0
999,1000,2023-09-05,Candidato_1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não,1.0

In [210]:
candidatos_tec3 = candidatos_tec3.rename(columns={'ID DO CANDIDATO	' : 'ID DO CANDIDATO', 'DATA DE INSCRIÇÃO	':'DATA DA INSCRIÇÃO', 'NOME COMPLETO	':'NOME', 'GÊNERO': 'SEXO', 'ESTADO': 'UF', 'IDADE': 'IDADE', 'FORMAÇÃO ACADÊMICA	':'FORMAÇÃO', 'ÁREA DE ATUAÇÃO	': 'ÀREA DE ATUAÇÃO','ANOS DE EXPERIÊNCIA	':'EXPERIÊNCIA', 'CERTIFICAÇÕES':'CERTIFICAÇÕES', 'IDIOMA':'IDIOMAS','PRETENSÃO SALARIAL	':'PRETENÇÃO SALARIAL', 'SALÁRIO DA VAGA	':'SALÁRIO DA VAGA', 'DISPONÍVEL PARA VIAGENS	':'DISPONIVEL PARA VIAGEM','DISPONÍVEL PARA MUDANÇA	':'DISPONIBILIDADE DE MUDANÇA','É PCD	':'PCD'})
candidatos_tec3

,ID DO CANDIDATO,DATA DE INSCRIÇÃO,NOME COMPLETO,SEXO,UF,IDADE,FORMAÇÃO ACADÊMICA,ÁREA DE ATUAÇÃO,ANOS DE EXPERIÊNCIA,CERTIFICAÇÕES,IDIOMAS,PRETENSÃO SALARIAL,SALÁRIO DA VAGA,DISPONÍVEL PARA VIAGENS,DISPONÍVEL PARA MUDANÇA,É PCD,STATUS DE CONTRATAÇÃO
0,1,2022-04-13,Candidato_1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não,0.0
1,2,2023-03-12,Candidato_2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não,0.0
2,3,2022-09-28,Candidato_3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não,0.0
3,4,2022-04-17,Candidato_4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não,0.0
4,5,2022-03-13,Candidato_5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2023-10-04,Candidato_996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não,1.0
996,997,2023-08-19,Candidato_997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não,0.0
997,998,2022-11-17,Candidato_998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não,1.0
998,999,2022-11-15,Candidato_999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim,0.0
999,1000,2023-09-05,Candidato_1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não,1.0