# Analise

In [10]:
import pandas as pd
import matplotlib as plt
import numpy as np
# CSV Import
candidatos_tec1 = pd.read_csv('candidatos_tecnologia_1.csv')
candidatos_tec2 = pd.read_csv('candidatos_tecnologia_2.csv')
candidatos_tec3 = pd.read_csv('candidatos_tecnologia_3.csv')

In [14]:
candidatos_tec1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_candidato             1000 non-null   int64
 1   data_inscricao           1000 non-null   object
 2   nome                     900 non-null    object
 3   genero                   900 non-null    object
 4   estado                   900 non-null    object
 5   idade                    900 non-null    float64
 6   formacao                 900 non-null    object
 7   area_atuacao             900 non-null    object
 8   experiencia_anos         900 non-null    float64
 9   certificacoes            900 non-null    float64
 10  idiomas                  900 non-null    object
 11  pretensao_salarial       900 non-null    float64
 12  salario_vaga             900 non-null    float64
 13  disponibilidade_viagem   900 non-null    object
 14  disponibilidade_mudanca  900 non-null    object
 15  pcd                      900 non-null    object
 16  contratado               900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [15]:
candidatos_tec2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codigo_candidato    1000 non-null   int64
 1   data_cadastro       1000 non-null   object
 2   nome_completo       900 non-null    object
 3   sexo                900 non-null    object
 4   uf                  900 non-null    object
 5   faixa_etaria        900 non-null    float64
 6   nivel_educacional   900 non-null    object
 7   setor_profissional  900 non-null    object
 8   tempo_experiencia   900 non-null    float64
 9   qtd_certificacoes   900 non-null    float64
 10  idioma_principal    900 non-null    object
 11  salario_esperado    900 non-null    float64
 12  salario_oferecido   900 non-null    float64
 13  aceita_viagem       900 non-null    object
 14  aceita_mudanca      900 non-null    object
 15  deficiencia         900 non-null    object
 16  foi_contratado      900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [16]:
candidatos_tec3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID DO CANDIDATO          1000 non-null   int64
 1   DATA DE INSCRIÇÃO        1000 non-null   object
 2   NOME COMPLETO            900 non-null    object
 3   GÊNERO                   900 non-null    object
 4   ESTADO                   900 non-null    object
 5   IDADE                    900 non-null    float64
 6   FORMAÇÃO ACADÊMICA       900 non-null    object
 7   ÁREA DE ATUAÇÃO          900 non-null    object
 8   ANOS DE EXPERIÊNCIA      900 non-null    float64
 9   CERTIFICAÇÕES            900 non-null    float64
 10  IDIOMA                   900 non-null    object
 11  PRETENSÃO SALARIAL       900 non-null    float64
 12  SALÁRIO DA VAGA          900 non-null    float64
 13  DISPONÍVEL PARA VIAGENS  900 non-null    object
 14  DISPONÍVEL PARA MUDANÇA  900 non-null    object
 15  É PCD                    900 non-null    object
 16  STATUS DE CONTRATAÇÃO    900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB